@font-face {
    font-family: Behdad;
    src: url(/Fonts/Behdad_Font.ttf);
}

* {
    padding: 0;
    margin: 0;
    direction: rtl;
    box-sizing: border-box;
}

a, p, span, h1, h2, h3, h4, h5, h6, li, b, div, label, input, button {
    font-family: Behdad;
}

a {
    color: inherit;
    text-decoration: none;
}

.placeholder {
    width: 1024px;
    margin: auto;
    overflow: hidden;
}

header {
    background: #212121;
    height: 75px;
    width: 100%;
    min-width: 1024px;
}

    header > .placeholder {
        display: flex;
        align-items: center;
        height: inherit;
        justify-content: space-between;
        overflow: visible;
    }

.name {
    font-size: 18px;
    color: white;
}

.logo {
    font-size: 18px;
    color: white;
    height: inherit
}

nav li {
    float: right;
    padding: 10px;
    color: white;
    list-style: none;
    height: 75px;
    display: flex;
}

    nav li a {
        align-self: center;
        padding: 10px;
    }

header a:hover, header a:focus {
    -moz-box-shadow: inset 0 0 10px #000000 !important;
    -webkit-box-shadow: inset 0 0 10px #000000 !important;
    box-shadow: inset 0 0 10px #000000 !important;
    text-decoration: inherit;
    color: inherit;
    transition: all linear .5s;
}



nav li ul {
    position: absolute;
    background: #eee;
    margin-top: 65px;
    width: 100%;
    left: 0px;
    display: none;
}

nav li:hover > ul, nav li:focus > ul, nav li:active > ul {
    display: block;
}

nav li li {
    color: #232323;
    float: left;
}

    nav li li:first-child {
        margin-left: calc((100% - 1024px) / 2 );
    }

label {
    color: #b71c1c;
    font-size: 12px;
}

input, textarea {
    border: none;
    background-color: white;
    border-bottom: 1px #b71c1c solid;
    padding: 10px 30px;
}

    input:hover, input:focus, textarea:hover, textarea:focus {
        background-color: #fe9881;
    }

    button, input[type=submit], #app > div > a {
        background: #b71c1c;
        color: white;
        padding: 10px 30px;
        outline: none;
        border: none;
        box-shadow: inset 0px -100px 0px #c62828;
        transition: .4s;
        margin: .1em;
        display: block;
        text-align: center;
        margin: 5px auto 0 auto;
    }

        button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus, #app > div > a:hover, #app > div > a:focus {
            box-shadow: inset 0px -0px 0px #c62828;
        }


form input {
    margin: 2.5px auto 2.5px auto;
    max-width: 95%;
    border-radius: 3px;
    display: block;
}

form label {
    display: block;
}

form .warning {
    display: block;
    text-align: right;
    margin-right: 10px;
    color: #f00;
    font-size: 10px;
}

header > .placeholder > .message {
    border-left: 5px green solid;
    border-right: 5px red solid;
    background: rgba(238, 238, 238, 0.95);
    min-width: 400px;
    min-height: 100px;
    padding-top: 20px;
    text-align: center;
    text-anchor: middle;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    opacity: 0;
    animation: fadeout 2s;
    -moz-animation: fadeout 2s;
    -webkit-animation: fadeout 2s;
    -o-animation: fadeout 2s;
}


#app {
    display: flex;
    flex-direction: column;
    height: 500px;
    flex-wrap: wrap;
}

    #app > div {
        width: 250px;
        background: #eee;
        min-height: 200px;
        margin: 5px;
        /*box-shadow:0px 4px 10px rgba(0,0,0,.2);*/
        border: .1px #e1e1e1 solid;
        /*border-bottom: 3px rgba(183,28,28,1) solid;*/
        border-radius: 3px;
        padding: 10px;
    }

        #app > div.create, #app > div.index, #app > div.delete, #app > div.details, #app > div.edit {
            width: 750px;
        }

        #app > div .title {
            color: #b71c1c;
            padding: 5px;
            text-align: right;
            font-weight: bold;
        }

            #app > div .title, #app > div .title:hover, #app > div .title:focus {
                background: none;
                text-shadow: none;
                border: none;
                box-shadow: none;
            }

        #app > div > .simple-text {
            margin-bottom: 10px;
            display: block;
        }


footer {
    color: white;
    height: 75px;
    margin-top: 10px;
    background: #b71c1c;
}

    footer .placeholder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
    }



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}


@keyframes fadeout {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

{
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #991821;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

table td, table th {
    padding: 3px 10px;
}

table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );
    background: -moz-linear-gradient( center top, #991821 5%, #80141C 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #B01C26;
}

    table thead th:first-child {
        border: none;
    }

table tbody td {
    color: #80141C;
    border-left: 1px solid #F7CDCD;
    font-size: 12px;
    font-weight: normal;
}

table tbody .alt td {
    background: #F7CDCD;
    color: #80141C;
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tfoot td div {
    border-top: 1px solid #991821;
    background: #F7CDCD;
}

table tfoot td {
    padding: 0;
    font-size: 12px
}

    table tfoot td div {
        padding: 2px;
    }

    table tfoot td ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
    }

table tfoot li {
    display: inline;
}

    table tfoot li a {
        text-decoration: none;
        display: inline-block;
        padding: 2px 8px;
        margin: 1px;
        color: #FFFFFF;
        border: 1px solid #991821;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );
        background: -moz-linear-gradient( center top, #991821 5%, #80141C 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
        background-color: #991821;
    }

table tfoot ul.active, table tfoot ul a:hover {
    text-decoration: none;
    border-color: #80141C;
    color: #FFFFFF;
    background: none;
    background-color: #991821;
}
/***************************************/

#app > .status {
}
