@{
    ViewBag.Title = "وضعیت";
}
<div class="status">
    @Html.ActionLink("• خروج از سیستم", "Logout", "Auth", new object { }, new { @class = "title" })
    @Html.ActionLink("خروج", "Logout", "Auth")
</div>